    <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">IEC LOGO</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#events">Events</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#team">Meet the Team</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#sponsors">Sponsors</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold"><span class="animated animatedFadeInUp" id="word-1">Ideate.</span> <span class="animated animatedFadeInUp" id="word-2">Create.</span> <span class="animated animatedFadeInUp" id="word-3">Grow.</span></h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5 animated animatedFadeInUp animated-sub">Start your entrepreneurial journey.</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger animated animatedFadeInUp animated-sub" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center pt-4">
            <div class="col-lg-8 text-center">
                <h4 class="text-white-50 mt-0">Our Mission</h4>
                <hr class="divider light my-4" />
                <h2 class="text-white mb-5">We connect students to pursue entrepreneurial ideas <strong>together</strong>.</h2>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">What We Offer</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Workshops</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Projects</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Networking</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Events -->
<section class="page-section bg-dark" id="events">
	<div class="container">
		<h2 class="text-center text-white mt-0">Upcoming Events</h2>
		<hr class="divider light my-4" />
		<div class="row">
		    <div class="col-lg-4">
		        <div class="card card-margin">
		            <div class="card-header no-border">
		                <h5 class="card-title">Workshop</h5>
		            </div>
		            <div class="card-body pt-0">
		                <div class="widget-49">
		                    <div class="widget-49-title-wrapper">
		                        <div class="widget-49-date-primary">
		                            <span class="widget-49-date-day">23</span>
		                            <span class="widget-49-date-month">Feb</span>
		                        </div>
		                        <div class="widget-49-meeting-info">
		                            <span class="widget-49-pro-title">Turn Your Business Into Reality</span>
		                            <span class="widget-49-meeting-time">4pm - 5pm</span>
		                        </div>
		                    </div>
		                    <div class="row pt-3">
		                    	<div class="col-12">
		                    		<span>Meet with Audry Quinn, a serial entrepreneur and new venture creation professor!</span>
		                    	</div>
		                    </div>
		                    <div class="widget-49-meeting-action">
		                        <a href="#" class="btn btn-sm btn-flash-border-primary">REGISTER</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-4">
		        <div class="card card-margin">
		            <div class="card-header no-border">
		                <h5 class="card-title">Workshop</h5>
		            </div>
		            <div class="card-body pt-0">
		                <div class="widget-49">
		                    <div class="widget-49-title-wrapper">
		                        <div class="widget-49-date-warning">
		                            <span class="widget-49-date-day">13</span>
		                            <span class="widget-49-date-month">apr</span>
		                        </div>
		                        <div class="widget-49-meeting-info">
		                            <span class="widget-49-pro-title">An AMAZING</span>
		                            <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
		                        </div>
		                    </div>
		                    <ol class="widget-49-meeting-points">
		                        <li class="widget-49-meeting-item"><span>Scheming module is removed</span></li>
		                        <li class="widget-49-meeting-item"><span>App design contract confirmed</span></li>
		                        <li class="widget-49-meeting-item"><span>Client request to send invoice</span></li>
		                    </ol>
		                    <div class="widget-49-meeting-action">
		                        <a href="#" class="btn btn-sm btn-flash-border-warning">View All</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <div class="col-lg-4">
		        <div class="card card-margin">
		            <div class="card-header no-border">
		                <h5 class="card-title">Networking</h5>
		            </div>
		            <div class="card-body pt-0">
		                <div class="widget-49">
		                    <div class="widget-49-title-wrapper">
		                        <div class="widget-49-date-success">
		                            <span class="widget-49-date-day">22</span>
		                            <span class="widget-49-date-month">apr</span>
		                        </div>
		                        <div class="widget-49-meeting-info">
		                            <span class="widget-49-pro-title">PRO-027865 Opera module</span>
		                            <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
		                        </div>
		                    </div>
		                    <ol class="widget-49-meeting-points">
		                        <li class="widget-49-meeting-item"><span>Scope is revised and updated</span></li>
		                        <li class="widget-49-meeting-item"><span>Time-line has been changed</span></li>
		                        <li class="widget-49-meeting-item"><span>Received approval to start wire-frame</span></li>
		                    </ol>
		                    <div class="widget-49-meeting-action">
		                        <a href="#" class="btn btn-sm btn-flash-border-success">View All</a>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
</section>
<section class="page-section" id="team">
	<div class="container bootdey">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title mb-4">Our Team</h4>
                    <p class="text-muted para-desc mx-auto mb-0">Some subheading</p>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQE2bFMsS3_h8w/profile-displayphoto-shrink_800_800/0/1528201502958?e=1619049600&v=beta&t=Kz2rvl137-8qcvl2ugAOpib2SXskBRCNMq1WkstBPRE" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Klara Szabo</h4>
                        <small class="text-muted">Co-President</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->
            
            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQH6DHO31O4Mrw/profile-displayphoto-shrink_800_800/0/1517833410718?e=1619049600&v=beta&t=hyLDz_90XzRV5sugmA6sA8sThIMVziGhrrJwZbrU8v4" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Ezz Amr</h4>
                        <small class="text-muted">Co-President</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div><!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
                <div class="team text-center rounded p-3 py-4">
                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQE4kbwNfkdLOA/profile-displayphoto-shrink_800_800/0/1584459953259?e=1619049600&v=beta&t=0vwS8dwrxVmeBuR_4LsdTkrIuUog5HTPWRh3vxBXDz0" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
                    <div class="content mt-3">
                        <h4 class="title mb-0">Stephanie Marianacci</h4>
                        <small class="text-muted">VP Communications</small>
                        <ul class="list-unstyled mt-3 social-icon social mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
                        </ul><!--end icon-->
                    </div>
                </div>
            </div>
            
	            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
	                <div class="team text-center rounded p-3 py-4">
	                    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
	                    <div class="content mt-3">
	                        <h4 class="title mb-0">Yudi Yang</h4>
	                        <small class="text-muted">VP Mentorship</small>
	                        <ul class="list-unstyled mt-3 social-icon social mb-0">
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
	                        </ul><!--end icon-->
	                    </div>
	                </div>
	            </div>
        	</div>
            <div class="row">

                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
	                <div class="team text-center rounded p-3 py-4">
	                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGc1B8bleZYjA/profile-displayphoto-shrink_800_800/0/1599157142850?e=1619049600&v=beta&t=ePSkK7WL4G9gem7wc5mQB6rNlI37RJUb0LnmbLR1JzY" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
	                    <div class="content mt-3">
	                        <h4 class="title mb-0">Mark Joe</h4>
	                        <small class="text-muted">Co-VP Finance</small>
	                        <ul class="list-unstyled mt-3 social-icon social mb-0">
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
	                        </ul><!--end icon-->
	                    </div>
	                </div>
	            </div>
                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
	                <div class="team text-center rounded p-3 py-4">
	                    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGilZzPGP1Gjg/profile-displayphoto-shrink_800_800/0/1591818987278?e=1619049600&v=beta&t=eQVf4qGCPM3yfCGCe3PYv_QUFZiJDh3-3Q-wx3XgD2w" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
	                    <div class="content mt-3">
	                        <h4 class="title mb-0">Amr Zahran</h4>
	                        <small class="text-muted">Co-VP Finance</small>
	                        <ul class="list-unstyled mt-3 social-icon social mb-0">
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
	                        </ul><!--end icon-->
	                    </div>
	                </div>
	            </div>
                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
	                <div class="team text-center rounded p-3 py-4">
	                    <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHzQGEICcpLlQ/profile-displayphoto-shrink_800_800/0/1534864384012?e=1619049600&v=beta&t=9P8-hg9HkOBRwsFeqDub6Gl6LXZUEmpmYuQG9ue6wgU" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
	                    <div class="content mt-3">
	                        <h4 class="title mb-0">Philip Nicoletti</h4>
	                        <small class="text-muted">Co-VP External Relations</small>
	                        <ul class="list-unstyled mt-3 social-icon social mb-0">
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
	                        </ul><!--end icon-->
	                    </div>
	                </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
	                <div class="team text-center rounded p-3 py-4">
	                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHR_L7v76YhBQ/profile-displayphoto-shrink_800_800/0/1563907176006?e=1619049600&v=beta&t=K8hUG112TBS7OmiPoRySBDZiEm0ML9k12FYi2FDgs34" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
	                    <div class="content mt-3">
	                        <h4 class="title mb-0">Justin Gibbs</h4>
	                        <small class="text-muted">Co-VP External Relations</small>
	                        <ul class="list-unstyled mt-3 social-icon social mb-0">
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
	                        </ul><!--end icon-->
	                    </div>
	                </div>
	            </div>
            </div><!--end col-->
    		<div class="row">
	            <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
	                <div class="team text-center rounded p-3 py-4">
	                    <img src="https://media-exp1.licdn.com/dms/image/C5603AQHxGKM_ssEoDg/profile-displayphoto-shrink_800_800/0/1579973310399?e=1619049600&v=beta&t=Tkv4MrRTqIvRTNFpNQK1tAKKFynhh-82aDmlSd-wGX0" class="img-fluid avatar avatar-medium shadow rounded-pill" alt="">
	                    <div class="content mt-3">
	                        <h4 class="title mb-0">Jayson Dale</h4>
	                        <small class="text-muted">HBA Representative</small>
	                        <ul class="list-unstyled mt-3 social-icon social mb-0">
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-facebook" title="Facebook"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-instagram" title="Instagram"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-twitter" title="Twitter"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-google-plus" title="Google +"></i></a></li>
	                            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i class="mdi mdi-linkedin" title="Linkedin"></i></a></li>
	                        </ul><!--end icon-->
	                    </div>
	                </div>
	            </div><!--end col-->
        	</div><!--end row-->
    </div>
</section>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Interested in Joining the Team?</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Get Me Involved!</a>
    </div>
</section>
<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Let's Get In Touch!</h2>
                <hr class="divider my-4" />
                <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
            </div>
        </div>
    </div>
</section>
